# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

# Virtual environment
.venv/
venv/
env/

# Django
*.pyc
db.sqlite3
staticfiles/
media/

# Environment
.env

# Backups
backups/*.sql

# IDE
.idea/
.vscode/
*.swp
*.swo

# macOS
.DS_Store

# Logs
*.log
